
1. выезжающая панель - подписать ЭКГ ритм 
2. название патологии - сверху
3. панель скрыл, потом открыл - показывает список с начала, а не с выбранной патологии
4. движение ЭКГ идет с миллиметровкой вместе
5. В настройки добавить "чистый лист" и тогда движение будет как черная полоска 
6. построение отведение, формула
7. внести в редактор формулы расчета отведений 1-3, avr-avl-avf 
8. загрузка эталонной картинки экг на задний план для отрисовки 
9. переименовать в конструктор экг в названии
10. старт-стоп в редактор 
11. отображение всех 12, но это потом
12. Обучение: Общий курс ( все графики ЭКГ ) - program 1
              Курс Медицинский колледж ( лекция 1 + портянка с текстом,картинки 
                                         лекция 2 .....
                                         лекция 3  ) 
Курс Медицинский университет
13. Конструктор курсов обучения. 
14. нижняя панель - заморозим серым цветом все что не работает, и по мере реализации добавляем.
 
15. Кнопка сравнить в нижней панелей добавить, сразу после кнопки, 100%. 
как она работает:
отображется несколько ритмов в одном и том же отведении
у меня окно меняется на формат 6х и 1ст
сверху отображается текущий выбранный ритм, а нижние строки я выбираю другие ритмы
строки подписаны соответсвующе графикам , нормальный синус/брадикардия и тд
 
нажмите чтобы выбрать на ....
по умолчанию берем 2 отведение 
 
сравнить графики , количество графиков сами выбирают 
 
конфигурацию сравнить - можно было сохранять. 
 
 
16. Подсказки. 


По приоритетам - давай первым делом сделаем в конструкторе формулы расчета по отведениям и я начну ЭКГ править
